img {
    width: 100%;
    background-color: transparent;
    border: 0;
}

div {
    width: 400px;
    height: 300px;
}

h1 {
    font-family: arial;
    font-size: 40px;
}

h2 {
    font-family: arial;
    font-size: 30px;
}

a {
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}


